.center{
	height: 450px;
	width: 500px;
	border: 3px solid black;
	margin: 50px;
	margin-left: 100px;
}
.hide{
	display: none;
}
.center1{
	height: 150px;
	width: 500px;
	border: 3px solid black;
	margin: 50px;
	margin-left: 100px;

}
.file{
	border: 2px dotted black;
	width: 300px;
	height: 100px;
	margin: 50px;
	padding: 20px;
}
table{
	margin-top: 40px;
	margin-left: 50px;
}
button{
	margin-top: 10px;
	margin-left: 100px;
	background: green;
	color:white;
	padding: 5px;
}
input{
	margin-left: 50px;
}
